<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiy.wcms.procurementplan.mapper.ContractDetailMapper">
	<select id="getDetailList" resultType="ContractDetail">
		SELECT 
			c.ID as id,
			c.CONTRACT_ID as contractId,
			c.PLAN_ID as planId,
			g.NAME as name,
			g.MODEL as model,
			g.BRAND as brand,
			p.PURPOSE as purpose,
			c.AMOUNT as amount,
			u.UNIT_NAME as unit,
			c.UNITPRICE as unitPrice,
			c.D_SUM as dSum,
			c.REMARK as remark
		FROM 
			CONTRACT_DETAIL c
			left join 
			PROCUREMENT_DETAIL p 
			on c.PLAN_ID = p.ID
			left join 
			GOODS_STORE g
			on g.ID = p.GOODSID 
			left join SYS_UNIT u 
			on g.UNIT = u.UNIT_ID
		WHERE 
		    c.CONTRACT_ID = #{contractId}
	</select>
	<select id="getProcurementContractList" parameterType="ProcurementContractParam" resultType="ProcurementContract">
		SELECT 
			p.ID as id,
			p.SUPPLIER as supplier,
			p.SUPPLIER_LINKMAN as supplierLinkman,
			p.SUPPLIER_PHONE as supplierPhone,
			p.SIGNUSER as signUser,
			u1.REALNAME as signUserName,
			p.SUM as sum,
			p.CREATE_USER as createUser,
			from_unixtime(left(p.CREATE_DATE,10),'%Y-%m-%d') as createDateStr,
			p.STATUS as status,
			p.REMARK as remark,
			p.RECEIVEUSER as receiveUser,
			u1.REALNAME as receiveUserName, 
			from_unixtime(left(p.RECEIVETIME,10),'%Y-%m-%d') as receiveTimeStr,
			p.CODE as code,
			p.NAME as name,
			from_unixtime(left(p.SIGNDATE,10),'%Y-%m-%d') as signDateStr
		FROM 
			PROCUREMENT_CONTRACT p 
			left join SYS_USER u on p.SIGNUSER = u.ID
			left join SYS_USER u1 on p.RECEIVEUSER = u1.ID
		
		<where>
			<if test="code != null">
				and p.CODE like CONCAT('%',#{code},'%')
			</if>
			<if test="name != null">
				and p.NAME like CONCAT('%',#{name},'%')
			</if>
			<if test="supplier != null">
				and p.SUPPLIER like CONCAT('%',#{supplier},'%')
			</if>
			<if test="supplierLinkman != null">
				and p.SUPPLIER_LINKMAN like CONCAT('%',#{supplierLinkman},'%')
			</if>
			<if test="supplierPhone != null">
				and p.SUPPLIER_PHONE like CONCAT('%',#{supplierPhone},'%')
			</if>
			<if test="signUser != null">
				and p.SIGNUSER = #{signUser} 
			</if>
			<if test="receiveUser != null">
				and p.RECEIVEUSER = #{receiveUser} 
			</if>
			<if test="sumBegin != null">
				and p.SUM >= #{sumBegin} 
			</if>
			<if test="sumEnd != null">
				and p.SUM &lt;= #{sumEnd} 
			</if>
			<if test="status != null">
				and p.STATUS = #{status}
			</if>
			<if test="receiveTimeBegin != null">
				and p.RECEIVETIME >= #{receiveTimeBegin} 
			</if>
			<if test="receiveTimeEnd != null">
				and p.RECEIVETIME &lt;= #{receiveTimeEnd} 
			</if>
			<if test="signDateBegin != null">
				and p.signDate >= #{signDateBegin} 
			</if>
			<if test="receiveTimeEnd != null">
				and p.signDate &lt;= #{signDateEnd} 
			</if>
		</where>
		ORDER BY
			p.SIGNDATE
		LIMIT
			#{begin},#{rows}
	</select>
	<select id="getNextCode" resultType="Integer">
		SELECT max(right(CODE,4)) FROM PROCUREMENT_CONTRACT
	</select>
	<insert id="save" parameterType="ProcurementContract" useGeneratedKeys="true">
		<selectKey order="AFTER" keyProperty="id" keyColumn="id" resultType="Integer">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		INSERT INTO 
			PROCUREMENT_CONTRACT (SUPPLIER, SUPPLIER_LINKMAN, SUPPLIER_PHONE,
			 SIGNUSER, SUM, CREATE_USER, CREATE_DATE, STATUS, REMARK, RECEIVEUSER, 
			 RECEIVETIME, CODE, NAME, SIGNDATE) 
		VALUES
			(#{supplier}, #{supplierLinkman}, #{supplierPhone}, #{signUser}, #{sum},
			 #{createUser.id}, #{createDate}, 0, #{remark}, #{receiveUser},#{receiveTime},
			  #{code}, #{name}, #{signDate})	
	</insert>
	<insert id="saveDetail" parameterType="ContractDetail">
		INSERT INTO 
			CONTRACT_DETAIL 
			(CONTRACT_ID, PLAN_ID, AMOUNT, UNITPRICE, D_SUM, REMARK) 
		VALUES
			(#{contractId}, #{planId}, #{amount}, #{unitPrice}, #{dSum}, #{remark})
	</insert>
	<update id="updateDetail" parameterType="ContractDetail">
		UPDATE 
			CONTRACT_DETAIL 
		SET 
			CONTRACT_ID = #{contractId}, 
			PLAN_ID = #{planId}, 
			AMOUNT = #{amount},
			UNITPRICE = #{unitPrice},
			D_SUM = #{dSum},
			REMARK = #{remark}
		WHERE 
			ID = #{id}
	</update>
	<delete id="deleteDetail">
		DELETE FROM CONTRACT_DETAIL WHERE ID = #{id}
	</delete>
	<delete id="deleteContractDetailByContractId">
		DELETE FROM CONTRACT_DETAIL WHERE CONTRACT_ID = #{contractId}
	</delete>
</mapper>