<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiy.wcms.gather.mapper.ShipmentsDetailMapper">
	<insert id="save" parameterType="ShipmentsDetail">
		INSERT INTO SHIPMENTS_DETAIL (SHIPMENTSID, ORDER_DETAIL_ID, AMOUNT) VALUES
		(#{shipmentsId}, #{orderDetailId}, #{amount})
	</insert>
	
	<select id="getShipmentsDetails" resultType="ShipmentsDetail">
		SELECT 
			s.ID as id, 
			s.AMOUNT as amount, 
			o.NAME as orderDetailName, 
			u.UNIT_NAME as unit 
		FROM 
			SHIPMENTS_DETAIL s left join ORDER_PRO_DETAIL o on s.ORDER_DETAIL_ID = o.ID left join SYS_UNIT u on o.UNIT = u.UNIT_ID 
		WHERE 
			s.SHIPMENTSID = #{shipmentsId}
	</select>
	
	<delete id="deleteShipmentsDetail">
		DELETE FROM SHIPMENTS_DETAIL WHERE ID = #{id}
	</delete>
	
	<delete id="deleteByShipId">
		DELETE FROM SHIPMENTS_DETAIL WHERE SHIPMENTSID = #{id}
	</delete>
</mapper>